{% for host in git_ssh_hosts %}
Host {{ host.host }}
  HostName {{ host.hostname }}
  User {{ host.user }}
  IdentityFile ~/.ssh/{{ host.key_name }}
  IdentitiesOnly {{ 'yes' if host.identities_only | default(true) else 'no' }}

{% endfor %}
