[defaults]
inventory = inventory.ini
roles_path = roles
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts
fact_caching_timeout = 3600

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = False
